.image_frame {
	width: 75%;
	height: 500px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image_frame img {
	height: 500px;
	object-fit: scale-down;
}

.map {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-top: 1em;
}

#map {
	border: 1px solid #999;
}

.landmark_suggestions {
	display: inline-block;
	width: 50%;
}

.landmark_suggestions ul {
	list-style-type: none;
	margin: 1em 0 0 0;
	padding: 0;
}

.landmark_suggestions ul li {
	margin: 0 0 0.5em 0;
	padding: 0.5em 1em;
	background-color: #ddd;
	border-radius: 0.5em;
	border: 1px solid transparent;
}

.landmark_suggestions ul li:hover {
	border: 1px solid #999;
}