.image_frame {
	width: 75%;
	height: 500px;
	margin: auto;
	border: 1px solid #999;
}

.image_frame img {
	object-fit: cover;
}

.map {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	padding-top: 1em;
}

.landmark_suggestions {
	display: inline-block;
	width: 50%;
}

.landmark_suggestions ul {
	list-style-type: none;
	margin: 1em 0 0 0;
	padding: 0;
}

.landmark_suggestions ul li {
	margin: 0 0 0.5em 0;
	padding: 0.5em 1em;
	background-color: #ddd;
	border-radius: 0.5em;
	border: 1px solid transparent;
}

.landmark_suggestions ul li:hover {
	border: 1px solid #999;
}