.hero {
    justify-content: left;
    text-align: left;
    padding-top: 30vh;
    padding-left: 125px;
    min-height: 70vh;
    color: #000;
}

.hero h1 {
    font: bold 60px "Basic", sans-serif;
    margin-bottom: 40px;
}


.hero h3 {
    font: normal 28px "Basic", sans-serif;
    margin-bottom: 40px;
}

.hero a.button-register {
    font-family: 'Basic', sans-serif;
    padding: 0.25em 0.5em;
    border-right: 2px solid #999;
    border-radius: 0.25em;
    background: #eee;
    border-bottom: 2px solid #999;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
}

#tag {
    padding-bottom: 40px;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

.blurb * {
    font-family: 'Basic', sans-serif;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blurb h3.title {
    font: bold 32px sans-serif;
    margin-bottom: 30px;
    text-align: center;

}

.blurb p {
    max-width: 775px;
    line-height: 2;
    padding: 0  20px;
    margin-bottom: 30px;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
}

@media only screen and (max-width: 600px) {

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 8px;
    }

    .hero {
        justify-content: center;
        text-align: center;
        padding-top: 10vh;
        padding-left: 10px;
        min-height: 70vh;
        color: #FFF;
    }

    .hero-content-area h1 {
        font-size: 30px;
        margin-bottom: 5vh;
    }
    
    
    .hero-content-area h3 {
        font-size: 20px;
        margin-bottom: 5vh;
    }
    
    .hero a.button-register {
        padding: 10px 10px;
        font-size: 2vh;
    }

    .blurb h3.title {
        padding-top: 2vh;
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    
    }
    
    .blurb p {
        max-width: 775px;
        font-size: 12px;
        line-height: 2;
        padding: 0  20px;
        margin-bottom: 30px;
        text-align: center;
    }
}