@import url('https://fonts.googleapis.com/css?family=Basic');

.main__children_wrapper {
    padding-top:8rem;
}

.main__children {
    padding:5rem;
}

body, .main__page {
	background: #e8f4ff;
}

.main__children * {
	font-family: 'Basic', sans-serif;
}
@media only screen and (max-width: 600px) {
    .main__children {
        padding:2rem;
    }
}