@import '../base/colours';
@import url('https://fonts.googleapis.com/css?family=Shrikhand');

.navigation {
	background: rgba(170, 170, 170, 0.432);
	position: absolute;
	width: 100%;
	margin: 0;
	height: 8rem;
    z-index: 1;
    border-bottom: 1px solid #666;
}

.navigation_link_wrapper {
	padding: 2rem 5rem;
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation__brand {
	display: inline-block;
    font-size: 2.5rem;
    color: #000;
    font-family: 'Shrikhand', cursive;
	text-shadow: 1px 1px 0px #ff9;
}

.navigation__brand:before {
    content:"\2767\0020";
    font-family: 'Shrikhand', cursive;
}

.navigation__ul {
    a {
        color: #000;
        font-family: 'Basic', sans-serif;
		display: inline-block;
		padding: 0.25em 0.5em;
		border-right: 2px solid #999;
		border-radius: 0.25em;
		background: #eee;
		border-bottom: 2px solid #999;
    }

	li {
		padding: 0 1rem;
		display: inline-block;
		list-style-type: none;
	}
}

@media only screen and (max-width: 600px) {
    .navigation__brand {
        font-size: 1.5rem;
        padding-left: 15px;
    }

    .navigation_link_wrapper {
        padding: 0rem;
    }
¸
    .navigation__ul {
        a {
            color: #FFF;
        }
        li {
            padding: 0 0rem;
            display: inline-flex;
            list-style-type: none;
        }
    }
}