
.register {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }

.register label, .register input {
	margin-right: 0.5em;
    font-size: 1.25em;
}

.register-title {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
  }

.register form {
    padding: 5vh 5vh 0vh 5vh;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    align-self: center;
    justify-self: center;
}

.register label {
	color: #666;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.register input {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 3px solid #666;
    padding-bottom: 0.1em;
    font-size: 1.75em;
    background: transparent;
}

.register button {

    align-self: center;
    justify-self: center;

    background: #ddd;
	padding: 0.25em 0.5em;
	border-right: 2px solid #999;
	border-radius: 0.25em;
    border-bottom: 2px solid #999;
    margin: 2em;
    width: 250px;
}

@media screen and (max-width: 600px) {
    .register-title {
        padding-top: 1.5em;
        font-size: 1.5em;
    }
    .register form {
        padding: 0vh 5vh 0vh 5vh;
    }
}