.trip ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 1000px;
}

.trip ul li {
	display: inline-block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}

.trip ul li a {
	border: 0;
}