.trip_images {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 1000px;
}

.trip_images li {
	display: inline-block;
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;
}

.trip_images li a {
	border: 0;
}

h2 {
	margin-top: 25px;
	clear: both;
}