
.dashboard {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
}

.dashboard-title {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: center;
    justify-self: center;
}

.drag-area {
	margin-bottom: 1em;
	border: 5px dashed rgb(27, 190, 255);
	border-radius: 1em;
	width: 10em;
	height: 10em;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 1.5em;
}

.upload-queue {
	list-style-type: none;
    width: 50%;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.upload-queue li {
    display: grid;
    padding: 2px;
}

.upload-queue li img {
	width: 5em;
	border: 2px solid #666;
}

.uploader button {
	background: #ddd;
	padding: 0.25em 0.5em;
	border-right: 2px solid #999;
	border-radius: 0.25em;
    border-bottom: 2px solid #999;
    width: 200px;
    align-self: center;
    justify-self: center;
}

.uploader {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;
}

