.usermenu{
    position:relative;
}
.usermenu__avatar__wrapper{
    img{
        height:2rem;
        width:2rem;
        border-radius: 50%;
        object-fit: cover;
    }
}
.usermenu__popup {
    position: absolute;
    top: 3rem;
    right: 0;

    div{
        padding: 0.4rem 3rem;
    }
}

.usermenu__popup a {
    width: 160px;
    text-align: center;
}
